[2019-09-17 07:21] thomaseizinger opened #4 "Caller cannot specify a network for deployContract and callContract on the EthereumWallet"
## Problem

A caller of `deployContract` or `callContract` (both functions on the EthereumWallet) currently **cannot** specify the network (mainnet, ropsten, etc) on which the action should be performed.

https://github.com/comit-network/comit-js-sdk/blob/e8d0fc499af3614cb350776ebc60a4494e38bb64/src/ethereumWallet.ts#L23-L39

This can be dangerous because funds could accidentally be sent on the wr

[2019-09-18 01:39] luckysori opened #1 "Extract code from hello-swap"
[hello-swap](https://github.com/comit-network/hello-swap) now uses cnd's HTTP API in such a way that it would make sense to extract it into an SDK.

Tasks:
- Define interface for all swap related calls within hello-world
- Extract implementation code from hello-world into the library
- publish the library on npm
- use the library in hello-world and replace communication against cnd by using the me

[2019-09-20 03:37] #1 closed

[2019-09-25 01:20] thomaseizinger opened #7 "Problem: Build artifacts (JavaScript files) are checked into version control"
This is sub-optimal because one might forget to generate them before committing.

Two options:
- only generate the JavaScript files before releasing and bundle them for the release
- only distribute the typescript files in the npm package

Recommendation: can't give any because I don't know the state of the art approach for distributing typescript modules on npm.

[2019-09-25 01:20] thomaseizinger opened #8 "Have an automated release process"
**Goal:** Have a proper release process

**Problem:** Currently, releases are done manually of master

**Recommendation:** Have an automated process that releases a new version of the package for tagged commmits.

Note:
Unless #7, is done before this issue, we need to make sure we rebuild before we release.

[2019-09-25 03:15] thomaseizinger opened #9 "Receive address is re-used"
## Problem:
We always start at receive index zero when we initialize the wallet. That is the default value inside the bcoin library.

## Goal:
Don't reuse the same address here for receiving funds, even if the application restarts and the number of already derived receive addresses is lost.

## Recommendation:
I am not sure what the best approach is. We would probably have to lookahead 100 receive

[2019-09-25 03:34] thomaseizinger opened #10 "Problem: Redundant information needs to be passed when instantiating a BitcoinWallet"
**Problem:** I think we are passing redundant information to `BitcoinWallet.newInstance`. The hdKey actually encodes the network within the first four bytes: https://bitcoin.stackexchange.com/a/63996

**Goal:**
1. Make the arguments to the APIs in `comit-js-sdk` orthogonal (creating a better developer experience)
2. Make `comit-js-sdk` portable across all networks without having to manually accoun

[2019-09-26 05:19] thomaseizinger commented on #9
This has changed now a bit but we still re-use the same addresses between restarts of the wallet. Should probably use an SPV node.

[2019-09-27 00:58] D4nte opened #13 "Provide comit link decoder/encoder libraries"
To validate our assumptions around the comit links, we should provide helpers for it that could then be used as part of a future workshop or it could be used in an alternative orderbook in helloswap that could just be plugged in.

[2019-09-27 01:08] D4nte commented on #13
Discussed at workshop follow-up meeting. comit link has more than what would be needed.

[2019-09-27 01:08] #13 closed

[2019-10-03 03:51] luckysori opened #15 "Missing README"
**Problem**:
The title and brief description of the repository might not be enough explanation for someone looking at this repository for the first time.
**Goal**:
Have people build on top of COMIT.
**Suggestion**:
Write a document that describes each module and what the purpose of this project is.

[2019-10-03 03:59] luckysori opened #16 "Missing CHANGELOG"
**Problem**:
We agreed to maintaining changelogs for all our open source projects.
**Goal**:
Keep track of notable changes in the codebase so that developers can quickly check what varies from version to version.
**Recommendation**:
Do something very similar to what we do in `comit-rs` or `create-comit-app`.

[2019-10-15 05:05] da-kami opened #19 "Meaningful response for ledger actions"
Note: As part of https://github.com/comit-network/comit-js-sdk/pull/18 we introduce the `ComitClient` and `Swap` into the SDK, this allows us to execute swaps action by action instead of automatically executing the actions.

## Problem
The response we return after executing a ledger action is just the response the blockchain client returns. This is not very meaningful when printing log messages fo

[2019-10-17 00:30] da-kami opened #23 "Bitcoin fund sometimes fails"
## Problem

1. The recommendation by bcoin developer is to use the `SPVNode` and `undefine` services that are not desired such as the http/rpc server:
  - https://github.com/bcoin-org/bcoin/issues/831#issuecomment-528655566
  - https://github.com/bcoin-org/bcoin/issues/841#issuecomment-530352722
It is better to follow the recommendation before investing bug and opening issues on the bcoin repo.

2

[2019-10-17 00:31] da-kami opened #20 "Move more code to sdk"
@D4nte commented on [Fri Sep 27 2019](https://github.com/comit-network/hello-swap/issues/33)

## Problem

The original `hello-swap` (no integrated into create-comit-app as `btc-eth`) contains a fair bit of code that would also be useful in other projects. In particular, most of the code around executing actions.

## Goal

Reduce the amount of code in hello-swap up to a point where you might as wel

[2019-10-17 00:36] da-kami opened #21 "Target network for Ethereum actions is ignored"
## Problem

Currently, we ignore the `network` parameter of the action that is returned from cnd:

https://github.com/comit-network/hello-swap/blob/e5ea4f98215722c3d2eb1b59e35ad4ae30c4bc20/src/helloSwap.ts#L300-L332

Both `action.payload` would have a `network` parameter that is currently not used.

## Goal

Make sure we don't execute actions on a network that they are not meant for, i.e. cnd tell

[2019-10-17 05:56] thomaseizinger commented on #20
Done in #18.

[2019-10-17 05:56] #20 closed

[2019-10-17 05:56] thomaseizinger commented on #19
Done in #18.

[2019-10-17 05:56] #19 closed

[2019-10-17 06:36] thomaseizinger opened #22 "Allow to retrieve balance of an ERC20 token through Ethereum Wallet"
## Problem

At the moment, the EthereumWallet can only retrieve the ether balance of its account.

## Goal

Being able to retrieve the ERC20 balance of a contract for the wallet.

## Recommendation

Add a method with the signature `getErc20Balance(address)` to the EthereumWallet that invokes the contract at this address to fetch the balance of the address of the wallet.

[2019-10-29 05:09] #16 closed

[2019-10-29 23:56] #15 closed

[2019-10-30 05:55] D4nte opened #30 "Developer has to know the RFC003 steps"
## Problem

The developer has to know the steps (and order) that Alice/Bob have to take to execute a swap.
If a party sends erc20, the developer has to know that a deploy step is needed.

## Goal

The sdk should provide enough functionality so that the developer does not need to know about RFC3 execution.

## Note

It looks like the sdk was recently optimised to run and demonstrate how a swap occu

[2019-10-30 22:48] bonomat commented on #30
Moving my thought from the slack conversation here:
I agree, we should improve the UX massively to make life easier for the developer.
But I also think that it is crucial that the developer is aware of the required steps of an Atomic Swap. The goal should be to find a trade off, i.e. the sdk should _guide_ him through the steps needs to do a swap.

[2019-10-31 00:43] luckysori opened #31 "Cannot generate random Bitcoin wallet"
## Problem

With #26, we introduced the ability to generate a random Ethereum wallet. The same cannot be done for Bitcoin, for which providing a HD key is mandatory. Helpful for e2e tests.

## Goal

Be able to quickly generate a Bitcoin wallet without the overhead of having to generate a HD key.

## Solution

Make the HD key parameter optional when constructing a new Bitcoin Wallet. Instead random

[2019-10-31 03:55] da-kami commented on #30
This cycles around the question how powerful the SDK should be and the example strategy.

I think the SDK could offer both. We do not have the jack of all trades now, and we build a lot on assumptions. We could then ask people what they like better. We can also ask them without having the functionality, but then it might be tough to get a meaningful answer.

I see three stages, that could be three

[2019-11-01 01:17] D4nte commented on #30
Please note the origin of this issue is that I was doing a `deploy()` on an Ether-Bitcoin swap and hence it was failing.

The fact that a dev knows he should do `deploy()` for erc20 but not for other currencies is what I want to challenge more than anything.

[2019-11-01 04:53] #8 closed

[2019-11-01 04:53] #7 closed

[2019-11-03 23:41] da-kami commented on #30
After discussion last week we decided that developers build on top of COMIT should always be confronted with the swap steps in the examples. `execute()` is an abstraction layer too much.

We stick to the current form as in the `erc20-btc` example.

[2019-11-03 23:41] #30 closed

[2019-11-04 05:48] #22 closed

[2019-11-06 02:41] luckysori opened #52 "Allow swap requests without specified expiries"
## Problem

The SDK enforces that a swap request must include explicit values for the expiries:

[code]

Since comit-network/comit-rs#1602 was merged, `cnd`'s HTTP API allows for sending swap requests without specifying expiries (it defaults to conservative values: 24 hours for alpha and 12 hours for beta).

## Goal

Make expiries optional at the SDK level, so that developers can delegate the work

[2019-11-10 23:29] da-kami opened #54 "Extend `comit-js-sdk` documentation"
## Problem

There is basically no documentation around the `comit-js-sdk` besides the README at the moment. A proper SDK should have some API documentation so that developers can educate themselves.

## Goals

Short-run:
* Developers that take a look at the project (README) should be impressed and motived to use it.

Long-run:
* Developers that build an application on top of COMIT should be able t

[2019-11-11 04:34] da-kami commented on #54
Nice to have for the Hackathon, but not a must for me.

[2019-11-13 22:51] D4nte opened #55 "Master CI fails"
## Problem

Master CI fails: https://github.com/comit-network/comit-js-sdk/runs/297051928

## Goal

Working software.

## Recommendation

Investigate and take action.

[2019-11-13 23:52] thomaseizinger commented on #55
Short investigation: The problem seems to be an update in how prettier formats the code.

[2019-11-13 23:58] thomaseizinger opened #57 "The README can be confusing to people who know, what `.env` actually is"
## Problem

We are not using `dotenv` the way it was designed (the file should be in the local directory). It is very likely confusing to people who read the following paragraph in the README _if they know how dotenv is usually used_.

## Goal

- Don't confuse people
- Don't set wrong expectations

## Recommendation

- Remove any mentions of dotenv or `.env` from the README
- Change the name of th

[2019-11-14 00:02] thomaseizinger commented on #57
Just realized that this repo is actually the sdk! Closing this ticket of a small PR that removes this part from the README.

[2019-11-14 00:02] #57 closed

[2019-11-14 01:15] #55 closed

[2019-11-20 04:27] bonomat commented on #23
I haven't noticed this for a while. Is it still a thing @D4nte / @da-kami ?

[2019-11-20 04:35] luckysori opened #61 "Create start_actor function"
Some examples in `create_comit_app` define functions to start an actor. For example, in the `erc20_btc` example:

[code]

Since this appears to be common functionality, add it to the SDK.

[2019-11-27 02:33] #52 closed

[2019-12-04 05:30] #61 closed

[2020-01-02 05:58] D4nte opened #82 "Provide conversion from bignumber.js to ethers.utils"
## Problem

As per https://github.com/comit-network/comit-rs/pull/1775#issuecomment-570123886

To be refined...

[2020-01-06 03:53] yosriady commented on #54
A high-level documentation of the negotation protocol would be very useful. :pray:

[2020-01-06 04:13] yosriady commented on #21
How are the current network of the Ethereum wallet currently determined? Would it be possible to instantiate the wallet like so:

[code]

[2020-01-06 04:16] yosriady commented on #54
A high-level documentation of the negotation protocol would be very useful. :pray:
Third-party developers should not have to dig through the code to find out how COMIT works.

In particular:
- An explanation of the [Order](https://github.com/comit-network/create-comit-app/blob/master/new_project/examples/btc_eth/src/index.ts#L100-L122) message schema.
- An explanation of the steps of the COMIT pro

[2020-01-06 04:39] D4nte commented on #21
As per this issue, currently you do not need to pass the network. You only pass the ethereum Provider. One Ethereum Provider only support one network so the network is the one of the provider.

Once this issue is done we hope that you can pass a network to the `EthereumWallet` that will check that the passed provider is connected to the specified network.

[2020-01-08 02:26] thomaseizinger commented on #82
There is also a native bigint type in Javascript: https://tc39.es/proposal-bigint/

[2020-01-08 05:32] D4nte commented on #82
Closing for now as the issue I was facing is because I was doing `toString()` on a `Promise`....

[2020-01-08 05:32] #82 closed

[2020-01-08 05:32] D4nte commented on #82
Only seems to be a draft but definitely worth keeping an eye on it,.

[2020-01-08 06:57] thomaseizinger commented on #82
Draft4 means it is definitely going in :)

Typescript seems to support it already: https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-2.html#bigint

[2020-01-10 01:19] D4nte commented on #82
I see that node 11 and chrome support bigint. Not sure what is the best strategy here.

[2020-01-10 02:54] thomaseizinger commented on #82
Should look for a polyfill to support it on older engines.

[2020-01-10 05:54] D4nte commented on #23
@bonomat did you bring your testnet changes in teh SDK?

[2020-01-11 08:35] bonomat commented on #23
Yes, one last change will be in after this branch is merged: https://github.com/comit-network/comit-js-sdk/pull/83

[2020-01-13 00:30] bonomat commented on #9
Closing this as we don't want that/don't think anyone will use the provided bitcoin wallet bcoin.
For testnet/demo purposes we can live with this minor issue.

[2020-01-13 00:30] #9 closed

[2020-01-13 00:55] thomaseizinger commented on #9
Which wallet should they use instead?
I don't think we should hide these problems by closing issues. If the wallet has limitations and we want to accept that, then this should be documented.

[2020-01-13 01:48] bonomat opened #85 "Refactor EthereumWallet so that developers can provide their own wallet implementation"
# Problem

Given our own preferences and experience with Bcoin we would not use the provided Bitcoin wallet in production ourselves.
For `BitcoinWallet` we provide already an interface to do so but not for EthereumWallet

# Goal

Allow developers to provide their own wallet implementations, i.e. refactor `Actor` so that it accepts interfaces of `BitcoinWallet` and `EthereumWallet`.

Note: done for

[2020-01-13 01:50] bonomat commented on #9
Whatever wallet they want to :) This is already possible through the interface of `BitcoinWallet`.

We can obviously add a disclaimer in the readme.
I've created a ticket to add an abstraction for `EthereumWallet` as well so that we also don't force developers to use our provided wallet: https://github.com/comit-network/comit-js-sdk/issues/85

[2020-01-13 23:24] bonomat commented on #54
Closing this in favor of the epic: https://github.com/coblox/admin/issues/159 which tracks the documentation.

[2020-01-13 23:24] #54 closed

[2020-01-14 01:55] bonomat commented on #31
Closing this for now: with the latest version a developer could provide his own Bitcoin Wallet and hence, could overcome this if needed.

[2020-01-14 01:55] #31 closed

[2020-01-14 02:24] bonomat commented on #10
The ticket is true and right about the possibility of deriving the network from the key. I see this as a relatively complicated optimization and would skip it until some developer is asking for it.

[2020-01-14 02:24] #10 closed

[2020-01-15 00:09] thomaseizinger commented on #21
Removed "to-refine" as the description of the ticket is fairly precise IMO.

[2020-01-16 05:28] da-kami opened #86 "JSDoc comments on comit-js-sdk code"
Start with the most important classes, i.e. `TakerNegotiator` and `MakerNegotiator`
Add tickets for more documentation if this ticket does not deal with the complete codebase.

We use Typedoc as engine to generate the Markdown, it has some restrictions on JsDoc tags:

https://typedoc.org/guides/doccomments/

JsDoc cheatsheet might help as well: https://devhints.io/jsdoc

[2020-01-16 05:31] da-kami opened #87 "Markdown generation from JSDoc comments"
The recommendation by the documentation spike is to use https://documentation.js.org/ for this.

[2020-01-17 02:15] yosriady commented on #87
I'll pick this up.

[2020-01-17 02:39] D4nte opened #88 "Hide the negotiation communication transport"
## Problem

_context: We provide an HTTP REST API in the SDK to allow communication for the negotiation phase. This is done as a PoC to get validation on our negotiation protocol. Ultimately we are thinking about moving it to cnd_

Note that the links point to the example but the SDK need to be changed.

To initiate a _SDK Maker_, a developer has to:

### 1. Initiate a `MakerNegotiator`
Passing ex

[2020-01-17 02:44] D4nte commented on #88
@yosriady could you please review and confirmed that I correctly captured your feedback?

[2020-01-17 03:09] yosriady commented on #88
@D4nte

Yes, to make it easy for third-party developers to express what they want to do with COMIT I think we should avoid leaking internal details. Internal details include:

- HTTP API endpoints
- Any internal parameters and structures (e.g. `peer` details for `MakerNegotiator`)
- Unnecessary configuration steps

Yes, I think the current instantiation step is slightly confusing, because for exam

[2020-01-17 03:26] D4nte commented on #88
@yosriady Thanks! Please note I'll include the improvement of the following code in a different issue (yet to be open)

[code]

[2020-01-17 03:46] D4nte opened #89 "Taker's order criteria"
## Problem

To get an order, the taker needs to go through several hoops:
1. Get orders from maker by doing `TakerNegotiator.getOrderByTradingPair("ETH-BTC")`
1. Do manual sanity checks on the order: https://github.com/comit-network/create-comit-app/blob/e2718a60bf7319e2504bb355c0406b00da0ae055/create/new_project/examples/separate_apps/src/taker.ts#L49
1. Manually check that the rate is acceptable

[2020-01-17 03:47] D4nte commented on #89
@yosriady what do you think about the proposed flow?

[2020-01-17 04:13] yosriady commented on #89
@D4nte

Looks better! The core idea is to automatically give users a pre-filtered list of acceptable orders to take from.

[code]

What's an 'offer'? Would this function return one or a list of valid offers?

[2020-01-17 04:19] D4nte opened #90 "Unnecessary steps to create `TakerNegotiator`"
_This could be done hand in hand with #89 and/or #88_

## Problem

The `TakerNegotiator` must be instantiated in 2 steps:

[code]

## Goal

Provide a simple and easy API.

## Recommendation

One step instantiation:
[code]
Also, re-think about the usage of a hard-coded url here.
Documenting it may be enough:

[code]

[2020-01-17 04:31] D4nte commented on #88
@thomaseizinger can you please weigh in from a "sdk owner" perspective before we groom?

[2020-01-17 04:37] yosriady commented on #90
Yes, the current instantiation doesn't mean anything to third-party developers and may be confusing.

[2020-01-17 04:53] D4nte commented on #87
You can assign it to yourself now that I added you to `comit-network` :)

[2020-01-19 22:18] bonomat commented on #89
If I understand this correctly than the taker has to know a _suitable_ rate beforehand?

If so, then I'm against it as it does not reflect a real world use. A taker does not know the rate before asking for it.

[2020-01-19 23:22] D4nte commented on #89
Some field are likely to be optional while other are mandatory.

[2020-01-21 00:02] bonomat opened #92 "Improve code quality and add test coverage"
# Problem

In the last _objective alignment meeting _ we agreed that we need to invest time and effort into improving the overall code quality of the comit-js-sdk.

# Goal
The comit-js-sdk should be fully tested independently from comit-rs (i.e. outside of the e2e tests of comit-rs).

# Recommendation

* Write tests Focus on the _critical parts_ first, i.e. everywhere where we do any form of calcu

[2020-01-21 03:43] yosriady commented on #87
Alternatively https://doc.esdoc.org/github.com/esdoc/esdoc/, which seems to have better support for hand-written documentation.

[2020-01-21 03:48] yosriady commented on #92
**Code coverage**

Since you're already using Jest, you can generate code coverage by adding the flag `--coverage`. No additional setup needed. Jest can collect code coverage information from entire projects, including untested files.

Change https://github.com/comit-network/comit-js-sdk/blob/master/package.json#L12 to add `jest --coverage`

[2020-01-21 03:49] yosriady commented on #92
**Static analysis**

We should use https://eslint.org/.

[2020-01-21 04:45] yosriady commented on #87
For typescript support, we may need:
- https://github.com/microsoft/tsdoc
- https://github.com/TypeStrong/typedoc

[2020-01-21 04:46] da-kami commented on #87
Is markdown supported? (marked as PoC https://esdoc.org/manual/feature.html - https://github.com/esdoc/esdoc-plugins/tree/master/esdoc-publish-markdown-plugin)
We CAN opt for HTML integration as well, but the idea was to start with Markdown first.

[2020-01-21 04:59] yosriady commented on #87
What I'm going to do is start by giving `documentation.js` and to see if it serves our use case. It does seem to [support Typescript](https://github.com/documentationjs/documentation/issues/1272#issuecomment-549932800).

[2020-01-21 06:15] D4nte opened #94 "Do not ask dev to know protocol steps/leverage cnd API's"
## Problem

1. We ask the developer to manually go through the steps (sometimes [deploy](https://github.com/comit-network/comit-js-sdk/blob/5766dcc067b81e5aa5ba3c3cdc4d27973f54052e/src/swap.ts#L24), fund, redeem). Several all us fell in the trap of forgetting to do `deploy()` for ERC20 tokens.
1. We do not leverage the fact that cnd API's provide the actual available steps.

Current dev experience

[2020-01-29 03:14] da-kami opened #96 "Test `ComitClient` logic"
## Problem

Currently, `ComitClient` is hardly tested. That means, if there is a bug in this logic, we could end up doing  something which could harm the user (e.g. accidentally swapping `target_ledger` and `source_ledger`)

## Goal

Be robust and maintain it by reviewing how to make the sdk robust to runtime failures.

## Recommendation

1. Identify _external_ calls especially in comit_client.ts

[2020-01-29 03:16] da-kami opened #97 "Test external calls (cnd.ts)"
## Problem

If cnd goes down or a library throw an exception, it's finished.

## Goal

Be robust and maintain it by reviewing how to make the sdk robust to runtime failures (cnd call times out, functions throwing errors).

## Recommendation

1. Identify _external_ calls especially in cnd.ts (e.g, calls to external libraries, network, io, etc).
1. Protect those calls (`try` ?)
1. Test these protect

[2020-01-29 03:18] da-kami opened #99 "Evaluate Static code analysis tool for the SDK"
Introduce a static code analysis tool.

[2020-01-29 03:19] da-kami opened #98 "Test coverage tool for SDK"
## Problem

We do not know how much of the SDK is tested

## Goal

Introduce and **document** a test coverage tool to measure progress of code quality.
This is to be used locally by the developer to assist with new code.

Then update #97 with what should be tested using the coverage.

## Recommendation

`jest --coverage`

[2020-01-29 03:38] D4nte commented on #99
@bonomat The team is not convinced as this is necessary as we already have tslint.

Please review and let us know what could be done.

[2020-01-29 05:02] #99 closed

[2020-01-30 04:10] da-kami commented on #94
@D4nte feel free to add this to the ticket, I think it is related:

The current approach of tell-dont-ask, i.e. telling the SDK "fund my swap" and then SDK just keeps looping until the action is available and handles it is:

* Error prone.
* Not flexible/resilient enough for real world applications.
* It teaches the wrong things (calling `.redeem` suggests that you can actually do that, whereas th

[2020-02-04 00:19] D4nte commented on #90
Done with #407

[2020-02-04 00:19] #90 closed

[2020-02-07 03:43] D4nte opened #107 "Provide means to check for Ethereum transaction status"
## Problem

When sending transactions, the internal `EthereumWallet` does not check for the transaction status. Meaning that if the rpc call is successful but the transaction fails, it goes unnoticed.

This is an issue that has been the cause of time wasting in e2e tests. The deployed failed but was marked as successful, making redeem/refund failed.
Investigation is then misdirected to the redeem/

[2020-02-07 09:04] bonomat commented on #107
@yosriady : as an ethereum expert :) what would be the expected behavior of the sdk in such a case?

[2020-02-07 09:32] yosriady commented on #107
Yes, I think the SDK should provide utilities for developers to confirm transactions using an approach similar to the approach described here: https://medium.com/renproject/gatewayjs-caas-and-gaas-7e03817d8034

In other words, the COMIT SDK would provide methods to allow developers to find out the current state of swap transactions. Behind the scenes the SDK would do this by subscribing to a Bitco

[2020-02-09 23:18] da-kami opened #109 "Update README Links to point to SDK documentation"
Update these 2 links once the documentation for the SDK is online on the homepage:

1. In the header that points to comit.network:

https://github.com/comit-network/comit-js-sdk/blob/202269b6fbd0dbe7961cda506321c5325848fd63/README.md#L1

Change `<a href="https://comit.network">` to point to the SDK documentation.

2. Add link to `API-documentation` here:

https://github.com/comit-network/comit-js-

[2020-02-10 08:41] thomaseizinger commented on #88
@d4nte I am unsure what kind of input you want from me here.

Generally speaking, these points might be important in the near future:

- accept/decline is going away
- cnd will no longer send swap details to the other peer

The proposed changes look like an improvement to me but I consider this part of our stack highly experimental so you can really do whatever you think is necessary :)

[2020-02-11 02:57] #87 closed

[2020-02-11 05:00] D4nte opened #112 "Add "acknowledged by cnd" swap transaction status"
_This has been split off from #107 to keep it small_

## Problem

We currently directly hit the CND REST API to know if a transaction was seen by cnd.
With #107 we introduced a new interface to allow the lib user to track a transaction status in the blockchain.
To glue the blockchain with cnd, we should also allow the user to inquery whether the transaction was seen/ack'd by cnd.

## Goal

Provide

[2020-02-11 05:11] D4nte opened #113 "Check `Transaction` status for Bitcoin"
## Problem

While in Bitcoin a transaction that would failed is directly rejected by bitcoind RPC call, there is value in extending #107 to Bitcoin transactions.

## Goal
Report if the Bitcoin transaction status in the blockchain.

## Recommendation

Build on top of #107.

Note: Need to extend cnd REST API mocking for testing.
Note: `Failed` for Bitcoin is a transaction considered invalid. Today t

[2020-02-11 05:33] D4nte commented on #97
Have a look at #111 as it can be one way to do this issue.

[2020-02-13 01:54] bonomat commented on #113
Afaik our transactions are sent to the bitcoin network through bcoin and not bitcoind. Nevertheless, the feature described should be possible.

[2020-02-14 00:16] D4nte commented on #98
Better do #1927 first as this propose to use `jest` and `jest` will only be introduced by #1927.

[2020-02-14 03:00] da-kami commented on #86
Currently on hold because some refactoring is done on the SDK. @D4nte please ping me once done and I work the comments in.

[2020-02-15 07:57] bonomat commented on #98
@da-kami / @D4nte / @thomaseizinger: before I invest more time into this I have two questions:
1) is this ticket done with _just_ introducing test coverage generation? Or do we want a bot which posts the coverage report as a comment on github?
2) what was meant with the second part?

[2020-02-16 23:06] D4nte commented on #98
The second part is about looking at code which is not covered and saying "ok we should test that" in #97.

[2020-02-17 05:15] thomaseizinger opened #117 "Extend `Cnd` interface to allow creating LN swaps"
## Problem

LN swaps will use [a different route](https://github.com/comit-network/spikes/blob/master/0022-lnd-plan-of-attack.adoc#215-our-current-rest-api-endpoints-are-not-capable-of-expressing-the-concept-of-a-protocol-per-ledger) on cnd compared to the existing swaps.
The SDK needs to account for that.

## Goal

Support the routes for creating LN swaps in the SDK.

## Recommendation

There are

[2020-02-17 05:27] thomaseizinger opened #118 "Extend the SDK to allow executing the new three actions"
## Problem

During the execution of LN swaps, the client can face [three additional actions](https://github.com/comit-network/spikes/blob/master/0022-lnd-plan-of-attack.adoc#226-what-are-the-actions-we-need-to-emit-on-cnds-rest-api):

1. `lnd-add-hold-invoice`
2. `lnd-send-payment`
3. `lnd-settle-invoice`

## Goal

Make the SDK support LN swaps.

## Recommendation

Extend the `Swap` class with the

[2020-02-18 02:33] #89 closed

[2020-02-18 02:50] bonomat commented on #96
Moved back to-groom as I repurposed this ticket to make it more explicit of what should be tested.

[2020-02-18 02:56] bonomat opened #120 "Test `tryExecuteSirenAction`"
## Problem

Currently, the logic in the class `Swap` is not tested as much as we want. That means, if an error occurs somewhere in this logic, in the "best" case the client just crashes, in the worst case we would do something which could harm the user (e.g. accidentally overfund, or underfund, etc )

## Goal

Be robust and maintain it by reviewing how to make the sdk robust to runtime failures.

[2020-02-18 06:01] da-kami opened #122 "Configure `axios` to handle problem responses"
# Problem

The Axios client in the SDK does not handle  the media-type `application/problem+json` as returned by `cnd` if there is a problem.
We have some some behaviour where we would like to assert on message and status of a problem response (e.g. in the `bitcoin_high_fee` e2e test).

# Goal

Properly handle the media-type `application/problem+json` in Axios so we can assert on the problem.

# P

[2020-02-18 22:12] thomaseizinger commented on #122
Another idea would be to make a custom Error subclass and throw an instance of that in the response transformer.
I don't know how axios handles exceptions thrown there but I'd assume they just bubble up, which is what we want :)

[2020-02-20 00:46] #98 closed

[2020-02-20 01:17] thomaseizinger opened #130 "Improve static analysis"
## Problem

We use Typescript in the SDK but we don't leverage the full potential it gives us.

## Goal

As much static analysis as possible.

## Recommendation

Enable several lints and fix the respective flagged code snippts:

- Enforce type definitions on methods: https://stackoverflow.com/questions/42793701/is-there-a-way-to-enforce-method-return-types-on-typescript-classes-via-a-tslint
- The

[2020-02-22 10:53] #117 closed

[2020-02-24 04:23] #86 closed

[2020-02-25 06:05] #130 closed

[2020-03-01 22:55] #109 closed

[2020-03-03 05:56] #118 closed

[2020-03-04 23:43] D4nte opened #149 "Properly use bcoin library"
## Problem

The bitcoin wallet we offer does not properly use the bcoin library. Indeed, it was pointed to use that we should use the `SPVNode` class but we do not.

To run this on testnet, we actually had to use the `SPVNode` class: https://github.com/comit-network/testnet-demo/blob/8b925ed0d64637bb32564d25d844196afae9ecf4/src/bcoinWallet.ts#L30, this should be enough to make us think that maybe

[2020-03-05 05:28] #122 closed

[2020-03-09 03:01] D4nte opened #154 "More generic Ethereum Wallet Interface"
## Problem

The current API is very specialised and stops COMIT App developers to bring their own Ethereum Wallet interface.

## Goal

Provide an API that is familiar to Decentralised App devs.

## Recommendation

Add a **new** constructor that accepts a web3 provider as an argument (no breaking change).

See https://github.com/comit-network/app/issues/7#issuecomment-595041740

[code]

[code]

[2020-03-09 03:06] D4nte opened #155 "Have a different README for GitHub Repo and online documentation"
## Problem

We currently use the README.md as entry point for the online documentation: https://comit.network/docs/comit-sdk/index

This brings several issue:
- The README is too long for the online doc
- The class/file links point to the GitHub Repos, not the generated documentation

## Goal

- Keep the user where he is (in GitHub or on the document website)
- Avoid stale links when possible (mig

[2020-03-09 03:12] D4nte opened #156 "Provide more info on classes used in example"
## Problem

It is not clear for a COMIT Dev app what they should understand/use in the SDK and what is internal/unnecessary for them.
Their are comments present in the example but they don't go enough in details regarding the objects that are being manipulated and what they can provide to the dev (`ComitClient`, `Swap`, `SwapDetails`, `Wallet`).

## Goal

The example is a simple "hello world" happ

[2020-03-09 03:15] D4nte commented on #149
@bonomat I propose to close this with https://github.com/comit-network/comit-js-sdk/pull/153 to highlight the fact that we do not expect someone to use this Bitcoin Wallet implementation for mainnet purposes.

[2020-03-09 03:40] bonomat commented on #149
Agreed.

[2020-03-09 03:40] #149 closed

[2020-03-09 03:48] yosriady commented on #156
This will definitely be useful for developers seeking to build apps with the SDK.

[2020-03-09 04:08] yosriady commented on #155
What do you mean by this? Do you mean using docstrings in the code?

Another way is we can create a Markdown file other than `README.md`, which will be used in the generated site. We can change the [build process](https://github.com/comit-network/comit.network/blob/master/build.sh) to modify which files are used.

[2020-03-09 05:56] D4nte commented on #155
Yes we meant docstrings in the doc but your alternative sound better.

[2020-03-10 02:42] yosriady commented on #156
@D4nte

I think it's also worth explaining about the `Swap` object and the status feature. I did not see any mention of it in the `demo/` and did not realize such a feature exists.

https://github.com/comit-network/comit-js-sdk/blob/9ab87203d0c204ea24c32312b1d485e4f4cea975/src/cnd/cnd.ts#L161

[2020-03-11 02:43] D4nte commented on #156
Yes I have added the description to include the `Swap` clas.

[2020-03-12 00:28] #97 closed

[2020-03-23 00:58] D4nte commented on #107
I believe this incorrect. We trust underlying libraries (`ethers.js`) to return the right information for a given transaction.
By testing fully e2e, we just end up testing a bit of our code and a lot of the full Ethereum + ethers.js stack.

Testing our code by mocking ethers.js should be enough to give us confidence in our code. This is what I will aim to do.

[2020-03-23 02:01] bonomat commented on #107
I think this makes sense.
Fully fledged e2e tests are meant for something different. I think can deal with the e2e tests separately and mock ethers.js.

[2020-03-23 05:00] #107 closed

[2020-03-24 03:38] #156 closed

[2020-03-24 03:38] D4nte commented on #156
Issue moved to [comit-network/create-comit-app #519](https://github.com/comit-network/create-comit-app/issues/519) via [**ZenHub**](https://www.zenhub.com/)

[2020-03-25 22:09] D4nte commented on #85
Replaced by #154.

[2020-03-25 22:09] #85 closed

[2020-03-25 22:12] D4nte commented on #88
This has been done, to have a maker you can now do:

[code]

[2020-03-25 22:12] #88 closed

[2020-03-25 22:12] D4nte commented on #94
Waiting for @yosriady to finish with PoC so we can then design the ideal interface.

[2020-03-26 02:20] yosriady commented on #94
@D4nte Actually, one thing I've already noticed is for ERC20 `await swap.deploy(tryParams)` and `await swap.fund(tryParams)`, can they not be done in a single transaction instead?

[2020-03-26 03:41] yosriady opened #173 "Purpose of timeouts in example code"
When fetching balances from the comit client:

[code]

If the timeout line is removed, the bitcoin wallet balance is not returned correctly (it displays 0 instead of the default `10`). Is this expected? What's the reason why we need timeouts here?

[2020-03-26 03:43] yosriady commented on #173
The same thing is true for wallet initialization:

[code]

If the timeout line is removed, the bitcoin balance is also not returned correctly.

[2020-03-26 03:51] yosriady opened #174 "Peer disconnected with requested blocks"
## Problem

When calling the SDK `comitClient.retrieveSwapById()` function, sometimes I come across this issue:

[code]

Executing any swap operations when in this state usually results in:

[code]

This halts the entire swap as no further transactions are accepted. Only restarting `comit-scripts` appears to resolve this issue. Has the team encountered this before?

https://github.com/comit-networ

[2020-03-26 04:17] yosriady opened #177 "Bitcoin shows incorrect balances"
# Problem
When retrieving the maker & taker bitcoin balances from the SDK, it appears to not return the correct balance.

Before a 10 DAI -> 1 BTC Swap:

[code]

After a 10 DAI -> 1 BTC Swap:

[code]

# Goal

Have up2date and correct wallet balances.

## Proposed Solution

In the `getBalance` method we should check if wallet and chain (bcoin `chain` object) are on the same hight. If not then we ha

[2020-03-26 04:47] yosriady commented on #173
@D4nte Is it a `bcoin` issue?

[2020-03-27 00:13] bonomat commented on #174
Hi @yosriady : do you think one problem is related to the other or are these two separate issues?

[2020-03-27 00:48] thomaseizinger commented on #174
Under which circumstances are you calling this function? This is only a workaround for your currently fairly primitive negotiation protocol in the SDK. You should be using the url that is returned from creating a swap at all times, or even better, only interact with the `Swap` class :)

That being said, this call only makes HTTP requests and does not interact with the blockchain nodes.

The warnin

[2020-03-27 02:22] yosriady commented on #174
@bonomat I believe they are related.

@thomaseizinger  I'm calling `retrieveSwapById` to get the current swap in order to view the current status and execute the next step in the swap process.

Where can I clarify what the canonical method of retrieving a swap is?

[2020-03-27 02:31] yosriady commented on #174
Yes, it is possible that it's not `comitClient.retrieveSwapById()` that triggers the errors, but the second error appears to surface because of the first.

[2020-03-27 03:19] D4nte commented on #173
@yosriady not really an issue, you need to give time to the bcoin spv node to scan the blockchain to calculate the balance.

In Bitcoin, contrary to web3, it is not part of the interface to query an arbitrary account to check balance.
The wallet needs to keep track of all the transactions related to this wallet to know how much the wallet can spend.

The `sleep` is here to give such time to bcoin.

[2020-03-27 03:23] D4nte commented on #94
@yosriady Do you mean one Ethereum transaction? No it cannot be done easily because you would need to deploy the htlc and then call the erc20 contract to send tokens to the htlc just deployed.
We look into doing that in one transaction and yes it might be possible but the complexity outweigh the benefits as we'd be doing some complex hacking to calculate the htlc address during its deployment to c

[2020-03-27 04:57] yosriady commented on #94
OK I see why, it's because the ERC20 transfer function can only be called by the user as a `msg.sender`, so the contract that deploys the HTLC wouldn't be able to fund it simultaneously. I did a brief prototyping to deploy and fund atomically but it's not a better solution:

[code]

The above 'deployWithFunds()' does deploy and fund in a single transaction. However, the `transferFrom` will only wo

[2020-03-27 05:03] yosriady commented on #94
@D4nte

Maybe this can help come up with a better API. For the app, I actually implemented a state machine that works loosely like this:

[code]

Internally, the state machine holds a mapping of 'current swap status' to 'next action':

[code]

Internally, `next()` polls the current status of the swap and executes the `TAKER_STATE_MACHINE[swapStatus]` handler defined above.

With this approach, dev

[2020-03-27 05:20] thomaseizinger commented on #94
Very interesting, thanks for sharing this @yosriady ! :)

We have been considering this already to build this kind of concept into the API itself: having `cnd` "recommend" a next action to the client.

So far, we've not gone down that way because we weren't sure how to handle the "refund" path which is unfortunately very difficult. However, there are other tickets that go in the same direction, fo

[2020-03-27 05:33] yosriady commented on #94
@thomaseizinger

Yes, I think the main API design challenge is to figure out how to handle branching options. I was wondering if a state machine - like interface can help. For example:

[code]

[2020-03-27 06:07] thomaseizinger commented on #94
Well, translating this to the REST API, it would look like this:

- `allowedTransactions`: list of all actions that are returned
- `getNext`: one action is "tagged" with "next"
- `next`: client grabs the tagged action and executes it
- `canTransitionTo`: check if specified action is present in list returned by cnd
- `transitionTo`: take action from list and execute it (doesn't work obviously if it

[2020-03-27 07:32] yosriady opened #175 "Canonical way to retrieve swaps"
This issue tracks some SDK questions I have about retrieving swaps.

- What's the difference between `getNewSwaps` and `getOngoingSwaps` and `getDoneSwaps`? We may want to make it clear for developers what the corresponding statuses mean.
  - Which category do expired swaps go under?
  - What if instead of having three different functions, the SDK provides a single `getSwaps({ status: ...})` that

[2020-03-29 22:10] bonomat commented on #177
@yosriady : I moved this issue to the sdk as it is a but there.

[2020-03-30 21:12] bonomat commented on #4
I think this better solved by initializing the wallet with a `chain_id` and then initialize the `TransactionRequest` with this `chain_id`. As the `chain_id` is part of the signature, sending a transaction to a wrongly connected network will fail, i.e. the network will reject that transaction.

@thomaseizinger : what do you think? If so, we can solve it together with #154 , e.g. change the construc

[2020-03-30 22:28] thomaseizinger commented on #4
That doesn't solve the problem unfortunately. If `cnd` returns you an action that is meant to be executed on a chain with id `3` and your wallet is connected to chain `1`, it will still happily sign and broadcast it.

We need to pass the `chainId` in the action method to prevent these kind of errors from happening :)

This issue really describes a shortcoming of the current Ethereum wallet interfa

[2020-03-30 23:13] bonomat commented on #4
Fair enough :) Then this ticket is orthogonal to the other one and we need to do both.
We have this field already on the function of `BitcoinWallet` so adding it to `EthereumWallet` would make it symmetrical.

Now that you mention it: I'm wondering how a dev/user should get the network/chain_id from to initialize wallets in the first place in a usable and non-redundant way 🤔

Maybe cnd should prov

[2020-03-30 23:31] thomaseizinger commented on #4
My take on this would be that the application should be the source of truth, i.e. have a drop-down menu or something where you select which chains you want to target. `cnd` should be configured accordingly to that. Likely, the user's intent is better captured in the application than in their configuration of cnd. Depending on the usecase, the application configures cnd to make sure things don't ge

[2020-03-31 22:20] #120 closed

[2020-04-06 01:10] luckysori commented on #177
Spent some time looking into this, here are some notes:

### Bug

I looked into this case in particular:

- If the test environment's bitcoind has been running for a long time, bcoin's in memory wallet provided by the SDK will become unreliable and often display incorrect balances.

### Reproduction

-   Branch off `create-comit-app`'s `dev` branch and add a `wallet-test` project, next to `demos`

[2020-04-06 02:10] thomaseizinger commented on #177
I am okay with using bitcoind's wallet if we still initialize the wallet from the SDK, i.e. the SDK has power over the seed.

Within create-comit-app, we generate HD-keys for the individual wallets and fund them. At this stage, the bitcoind node does **not** know about the private keys. This should be kept as is IMO.
Instead, it should be the application/SDKs decision to take this HD key and initi

[2020-04-06 02:59] bonomat commented on #177
Thanks for writing this up with such detail. I think the summary @thomaseizinger indicates how this can/should be implemented and the reasoning nicely outlines why :)

[2020-04-06 03:59] #173 closed

[2020-04-06 23:50] D4nte opened #180 "Resolve `fund` promise when paying lightning hold invoice"
## Problem

Currently, the promise returned by `LightningWallet.sendPayment()` setups the payment over lightning but does not resolve until the payment is settled. The settlement happens at a later stage when the other party reveal the secret.

https://github.com/comit-network/comit-js-sdk/blob/5b893fd723940776aab01c71ca298a6308ea2895/src/wallet/lightning.ts#L31

The issue is that when using this

[2020-04-07 01:24] D4nte opened #181 "Automated release"
## Problem

We release the SDK quite often and there are a number of manual tasks to be done.

## Goal

An automated release process similar to comit-rs, using git flow that release based on the creation of an issue.

## Recommendation

- Migrate comit-js-sdk to git flow by creating a `dev` branch that would the default branch (and make it default in github).
- Inspire yourself from the comit-rs g

[2020-04-07 02:53] yosriady commented on #175
@D4nte Do we have a way to retrieve a swap by URL?

[2020-04-08 04:28] D4nte commented on #175
@yosriady actually use, the default constructor of `Swap` allows you to create it with its URL:
[code]

[2020-04-08 06:28] yosriady commented on #175
@D4nte Where do I get its URL?

[2020-04-09 01:15] D4nte commented on #175
`swap.self`. Can you please point to your code that handle a swap please? I am think I need more context to help.

[2020-04-09 01:24] yosriady commented on #174
I'll keep an eye out for the next time this issue happens and export the Parity logs.

[2020-04-09 01:26] bonomat commented on #174
The first part is bitcoin related and it was caused by bcoin. This will go away with #177 where we get rid of the library

The second part is ethereum related: it seems to be an issue where somehow a transaction is sent to the blockchain twice.
Yos will provide some more logs once this happens again so that we can investigate it better.

--> Moving this ticket back to `To Groom` as there is no act

[2020-04-09 01:58] yosriady commented on #174
@bonomat

Attached is the logs. The `[warning] (net) Peer disconnected with requested blocks. [warning] (net) Resending sync...` error started at around 01:51:00 onwards.

[parity.log](https://github.com/comit-network/comit-js-sdk/files/4453599/parity.log)

<details>
  <summary>Environment details</summary>

BITCOIN_HD_KEY_0=tprv8ZgxMBicQKsPeecE9RFZyrzwtgvX1TgjCYmxUpWeg96m8orPh3aVioQs2bFPPijyuDxnQ

[2020-04-09 02:13] yosriady commented on #175
@D4nte https://github.com/comit-network/app/blob/feature/state-machines/app/containers/SwapDetailsPage.tsx#L29-L31

[2020-04-09 02:47] yosriady commented on #174
Here's another set of logs.

Error surfaces around 02:42:00 onwards.

[parity.log](https://github.com/comit-network/comit-js-sdk/files/4453762/parity.log)

[2020-04-09 03:08] yosriady opened #182 "The requested combination of ledgers and assets is not supported."
This is an odd one, but **for some inputs** the cnd HTTP API returns an error when you `sendSwap`:
[code]

Here is the swap that triggers the error (this is the request payload passed to the `/swaps/rfc003`endpoint):

[code]

Am I missing something?

<details>
  <summary>Environment details</summary>

BITCOIN_HD_KEY_0=tprv8ZgxMBicQKsPdP9rgLucRdmHBY7CbM1tEnh3xXrTuf9xZAQabwZUb4zkEkhZ2Vy8YSxZJLLerP3n

[2020-04-09 03:13] yosriady commented on #182
Ok, now it appears to only surface when it's 27 DAI. Not sure what's causing this. 😕

[2020-04-09 03:51] yosriady commented on #182
`
cnd:0.4.0
`

[2020-04-09 05:28] D4nte commented on #175
Ok I am not skilled enough with React to understand the code. Instead of transferring an `id` around, use the self url. Where do you get the id from?

[2020-04-09 05:52] thomaseizinger commented on #175
This distinction is due to our (legacy) communication protocol that required Bob to accept or decline swaps. We are working on an improvement of this that simplifies that. To answer your question, adding a single `getSwaps` function is certainly doable :)

That function is a workaround for the above (legacy) communication protocol to make it work with the _negotiation_ protocol that is built on to

[2020-04-09 06:04] thomaseizinger commented on #175
Looking at your code I would suggest to not re-create the objects all the time :)
The swap object is designed to be stateful. I would store an instance of the `Swap` on the instance of the component and use `useEffect` to continuously call `fetchDetails` on it.

In other words: I would tie the lifetime of a `Swap` object to the lifetime of your component, with the URL being passed in through the p

[2020-04-09 06:46] bonomat commented on #174
@yosriady
regarding the first message: I assume you wanted to upload the bitcoin log?
I don't see anything about `[warning] (net) Peer disconnected with requested blocks. [warning] (net) Resending sync..` in there.

Regarding the parity.log:
I see a few errors in there:

[code]

Are you doing anything else than swapping on this parity node? I wouldn't know where we are calling a contract with this

[2020-04-09 11:48] bonomat commented on #177
Hi @luckysori,

I learned a bit about extended private/public keys today :)

An extended key is just a base58 encoded serialization of a few pieces of data :

`[ magic ][ depth ][ parent fingerprint ][ key index ][ chain code ][ key ]`

` magic `             = 04358394 (for testnet)
` depth `             = indicates how deep the key in a particular path is
` parent fingerprint` = the first 4 bytes

[2020-04-09 22:28] thomaseizinger commented on #177
What it is worth, to my understanding WIF is only for a single key and pretty much a legacy format. At least over in the rust-bitcoin repo, they talk about it as a legacy format.

[2020-04-09 22:36] thomaseizinger commented on #177
Found this in the 0.18.0 release notes: https://bitcoin.org/en/release/v0.18.0#updated-rpcs

[2020-04-09 22:37] thomaseizinger commented on #177
From past experience, I would recommend to always update to the latest version of things first before going down debugging rabbit holes :)

[2020-04-09 23:25] bonomat commented on #177
Unfortunately this does not help us with our current approach. If we keep generating an extended public key and derive an address from this then we can't import the xprv into bitcoind with `sethdseed`. See the description above of the missing `chain_code` which you can't import.
Afaik `importmulti` allows us to do so though.

Another solution (and I think that's what Lucas is going for) is to
1) g

[2020-04-10 00:25] bonomat commented on #182
@yosriady : I think I found the problem:

[code]

Same as Ethereum quantity is in `Wei`, Bitcoin quantity is in `Satoshi` and no floating point numbers are allowed here.

I tried your swap request with:

[code]

You will need to round the quantities and get rid of the floating point.

Please close if this solves your problem.

[2020-04-13 00:57] bonomat commented on #177
found the solution:

start bitcoin:  `bitcoind --regtest`
[code]

[2020-04-14 00:58] thomaseizinger commented on #177
Shouldn't we be able to specify whatever derivation path we want here?

I don't mind any of these solutions :)
What I care about is that we don't completely roll our own thing. If possible, I would like us to follow some kind of standard of how create-comit-app distributes money to the app without the app having to cater specifically for create-comit-app.

A single private key sort of works but is

[2020-04-14 03:41] yosriady commented on #175
`getOngoingSwaps()`

[2020-04-14 03:49] yosriady commented on #175
I see, I'll refactor accordingly.

The routing is fine, and it's not visible to the user.

[2020-04-15 01:15] yosriady commented on #182
Checking.

[2020-04-15 01:18] yosriady commented on #175
@thomaseizinger

Is this the canonical function that does the above: https://github.com/comit-network/comit-js-sdk/blob/d54f3ae793d18e98189c817e568242b0eb7b89e3/src/comit_client.ts#L141 ?

[2020-04-15 01:45] yosriady commented on #182
Yes, I can confirm that it's because there were floats in the swap message. Closing and mitigating on the app side.

[2020-04-15 02:33] yosriady commented on #182
Does the cnd endpoint have a payload schema it uses to validate against? If there's like a JSON Schema for the expected payload, we can use it to return more granular error messages to point consumers in the right direction.

[2020-04-15 03:04] yosriady opened #184 "Bug: Retrieving active swaps as a Taker?"
As a Taker, **I'm unable to retrieve my new / ongoing swaps** with `taker.comitClient.getOngoingSwaps()` in this scenario:

- Taker: I've `sendSwap` my swap message to `cnd`.
- Maker: The Maker has **accepted** the new swap.
- Maker: You can view the new swap from `maker.comitClient.getOngoingSwaps()` (see below). This is expected.
- Taker: I can't view the new swap from `taker.comitClient.getOngo

[2020-04-15 03:04] yosriady opened #189 "Bug: Retrieving sent swaps as a Taker?"
## Problem

As a Taker, **I'm unable to retrieve my new / ongoing swaps** with `taker.comitClient.getOngoingSwaps()` in this scenario:

- Taker has `sendSwap` a swap message to `cnd`.
- Maker has **accepted** the new swap.
- Maker can view the new swap from `maker.comitClient.getOngoingSwaps()` (see below). This is expected.
- Taker **can't** view the new swap from `taker.comitClient.getOngoingSwa

[2020-04-15 03:37] bonomat commented on #182
Re-opening this and including @thomaseizinger to keep the discussion open.

Do you think this is something we can catch on cnd side?

[2020-04-15 06:23] thomaseizinger commented on #182
We don't have a JSON schema for the request body at this stage because it is pretty complicated, for example, the valid values of `alpha_asset.name` depend on the value of `alpha_ledger.name`. We are fixing this by introducing dedicated routes per combination now which will allow us to have a static request body and hence a very easy and precise validation with JSON schema.

[2020-04-15 08:23] thomaseizinger commented on #175
@yosriady

The function you linked is private and only accessible by the ComitClient. But `Swap` has a public constructor that you can use:

https://github.com/comit-network/comit-js-sdk/blob/cef77e4f1a54a9291184cd384040a6d3af7fbd58/src/swap.ts#L28-L31

The `Cnd` instance is also easily constructed:

https://github.com/comit-network/comit-js-sdk/blob/cef77e4f1a54a9291184cd384040a6d3af7fbd58/src/cn

[2020-04-15 09:18] yosriady commented on #175
@thomaseizinger

I understood what we can do to use Swaps in a stateful manner. However, I'm not sure if this developer experience is easy to follow.

As you mentioned, developers would need to retrieve a Cnd instance, Bitcoin, and Ethereum wallet instances, to retrieve a swap. It feels like the app developer might be reimplementing functionality that should be in the SDK. Would it not be possible

[2020-04-17 03:45] yosriady commented on #184
@D4nte

I've confirmed that the bug is in the implementation of `ComitClient.get*Swaps()`.

https://github.com/comit-network/comit-js-sdk/blob/d54f3ae793d18e98189c817e568242b0eb7b89e3/src/comit_client.ts#L82-L94

The `ComitClient.get*Swaps()` functions can't find swaps with `SENT` status.

If you retrieve the swaps with `Cnd.getSwaps()`, it's returned correctly.

[2020-04-19 01:43] bonomat commented on #23
Covered in this ticket: #183

[2020-04-19 01:43] #23 closed

[2020-04-20 00:43] #177 closed

[2020-04-20 01:32] yosriady commented on #175
Closing as all open questions are answered. I'm moving forward with implementing the functions I need on the app.

[2020-04-20 01:32] #175 closed

[2020-04-20 01:33] yosriady commented on #154
After some more research, I think what we need is to follow the `Provider` standard similar to https://github.com/liquality/chainabstractionlayer

[2020-04-20 01:34] yosriady commented on #177
If we want to extract wallets out, I think we should look into the `Provider` standard similar to https://github.com/liquality/chainabstractionlayer

[2020-04-20 03:56] thomaseizinger commented on #177
Good reference thanks! :)
I'd hope we can delay this kind of micro-package stuff for as long as possible to avoid the giant overhead that comes with it!

[2020-04-20 04:39] yosriady commented on #174
Ack, sorry about that. I'll try again and upload the bitcoin.log.

No, I'm not doing anything else other than swapping on the parity node.

[2020-04-20 23:39] bonomat commented on #154
I agree, I'll move this ticket to `To Refine`.

[2020-04-20 23:42] bonomat commented on #174
Then I assume it's the transfer function. If it is reproducible, can you try this:

[2020-04-21 01:47] yosriady commented on #154
I will work on a spike for this.

[2020-04-21 01:54] yosriady commented on #182
Could we can implement client-side validations on the SDK?. For example:

[code]

This way, app developers don't have to worry about rolling out their own validation of ledger data, which should be the responsibility of the SDK anyway.

[2020-04-22 04:05] bonomat commented on #154
I'll close this then and let @yosriady create new issues once the spike in https://github.com/comit-network/app/issues/9 was done.

[2020-04-22 04:05] #154 closed

[2020-04-23 03:46] D4nte opened #191 "Release version 0.15.4"

[2020-04-23 09:51] #181 closed

[2020-04-24 04:15] #191 closed

[2020-04-24 04:37] D4nte opened #216 "Release version 0.15.5"

[2020-04-24 04:44] #216 closed

[2020-04-24 07:19] thomaseizinger opened #219 "Remove new swap schema from SDK until we are confident in the design"
## Problem

The PR https://github.com/comit-network/comit-js-sdk/pull/185/files added a new, experimental version of a response schema for retrieving swaps.
We have not tested this schema much, so it is likely that we will need to change it.
Having it as part of the SDK makes those changes cumbersome.

## Goal

Make it easy and frictionless to iterate on designs.

## Recommendation

Move the new r

[2020-04-25 00:25] thomaseizinger opened #220 "Public API is not sufficiently tested against breaking changes"
## Problem

PR https://github.com/comit-network/comit-js-sdk/pull/183 accidentially introduced a breaking change by removing the InMemoryBitcoinWallet from the public export of the library.
In an effort of releasing fewer breaking changes, 0.15.3 was released which caused the new version to be picked automatically when people started using it through create-comit-app.

## Goal

To not accidentiall

[2020-04-27 03:39] D4nte opened #222 "Release version 0.15.6"

[2020-04-27 05:07] D4nte commented on #222
released!

[2020-04-27 05:07] #222 closed

[2020-04-27 06:42] bonomat commented on #4
@D4nte / @thomaseizinger

I just wanted to do this ticket and noticed that the payload definitions for ethereum still use `network`:

https://github.com/comit-network/comit-js-sdk/blob/c36d344dde50cf42e6c77f0a26bc4a91abb8d04d/src/cnd/action_payload.ts#L17-L22

It seems like we never update this to use `chain_id`. Does this mean this sdk version is/was not compatible with our current cnd version or

[2020-04-28 02:56] thomaseizinger commented on #4
I think it is because we never use it, feel free to change it as part of doing this ticket.

[2020-04-28 04:50] #189 closed

[2020-04-28 05:22] #4 closed

[2020-04-28 07:32] da-kami opened #228 "Separate API for execution specific parameters that are confusing in `MakerNegotiator`"
Note: Not sure how much time we want to invest into the negotiation module of the SDK, given that we want to tackle the negotiation when researching decentralised order-books. Thus, I did not invest too much time into writing this up.

## Problem

This issue was created when working on the Tutorial #4 - it is hard to understand why the `ExecutionParams` and `TryParams` are necessary to create a `M

[2020-04-28 23:47] D4nte commented on #228
I believe the problem is more deeply rooted to the fact that we have to poll cnd for updates and to trigger actions. I'd be more interested in offering a push API than trying to hack this interface.

[2020-04-29 03:39] da-kami commented on #228
@D4nte I think the polling nature of cnd is only partly related to this problem.

Even if cnd pushes actions to the application the peer-id, address-hint and expiries still have to be exchanged between the parties before communication can start (concretely: Bob has to give Alice information - at the moment this information is part of the `MakerNegotiator`). I think this execution specific informat

[2020-04-29 07:46] yosriady opened #230 "Missing payload validation?"
## Problem

cnd does not validate asset quantities and it is possible to create a swap where both quantities are null.

<details>
<summary>Original Content</summary>
Unexpectedly, I can create 0-for-0 swaps. Is this expected?

[code]

I would expect payloads like this to be rejected by the protocol.
</details>

## Goal

Validate that quantities not null at swap creation on both old and new routes.

[2020-04-30 00:35] bonomat commented on #230
You are right, we do not reject 0-for-0 swaps.
While I feel like this should be caught from a UI I think rejecting this on cnd side would be easy.

@D4nte any thoughts on this?

[2020-04-30 00:53] da-kami commented on #228
After reading through @thomaseizinger technical-debt post on Basecamp I would actually re-open this and mark it as `technical-debt`. I think it is valid to keep tracking this problem, even though we might tackle it later...?
Feel free to close this again @D4nte if you don't agree.

[2020-04-30 03:02] yosriady commented on #230
I think cnd should reject payloads which are clearly invalid (invalid types, invalid ranges, invalid token pairs, etc.) The client nor the SDK wouldn't know what qualifies as valid or invalid.

[2020-04-30 05:30] D4nte commented on #230
Pinging @thomaseizinger too.

Regarding validation, there are a lot of possibilities to review and it can be hard to do an exhaustive coverage.
Note that invalid types ranges and pair are already rejected.
We could have a check to ensure that the asset is not 0.

I would be against adding a check to ensure that the asset is not "too small" because it would simply take some effort to calculate that

[2020-04-30 09:02] thomaseizinger commented on #230
Agreed, happy to reject swaps with amount 0.

[2020-04-30 09:07] thomaseizinger commented on #228
Agreed to mark as technical-debt, although I would like to be more problem focused then and maybe contain some information about how we got to this point.

In this case, I guess things like: we have a poll-based interface, hence the try params and we have not discovery, hence the required PeerID.

[2020-04-30 09:18] #180 closed

[2020-05-01 11:14] yosriady commented on #230
When validating the range, it should also validate against negative numbers, not just 0.

If you're using JSON Schema, you can use https://json-schema.org/understanding-json-schema/reference/numeric.html#range

[2020-05-03 23:42] thomaseizinger commented on #230
@D4nte If you are going to tag this as `good-first-issue` please refine the ticket text accordingly so it is friendly to new-comers :)
Terms like "old and new routes" are not something an external person will understand :grimacing:. We should probably point out the places in the code that need to be modified and that the change should likely be accompanied by e2e tests.

I would decide against JSO

[2020-05-03 23:57] #230 closed

[2020-05-03 23:57] D4nte commented on #230
Issue moved to [comit-network/comit-rs #2572](https://github.com/comit-network/comit-rs/issues/2572) via [**ZenHub**](https://www.zenhub.com/)

[2020-05-05 03:52] D4nte opened #233 "Release version 0.16.0"

[2020-05-09 04:02] yosriady commented on #94
Is anyone working on this currently?

[2020-05-10 03:01] bonomat commented on #94
Yes and no :) we've scoping the new api flow but haven't started the actual work yet.

[2020-05-10 23:42] thomaseizinger commented on #94
I am happy with either of the following:

- close the ticket with the justification that we shaped the idea but the pitch didn't make it (yet)
- keep it open but label it with something that makes the above obvious

Personally, I am leaning towards (1) because it is simpler. In spirit of shape-up, any team member can have their own list of topics that are important to them and bring them to other'

[2020-05-11 03:43] D4nte commented on #94
Closing as this is a shape up candidate.

[2020-05-11 03:43] #94 closed

[2020-05-12 03:46] D4nte commented on #220
Taking over as per comment in #238

[2020-05-12 06:07] #220 closed

[2020-05-12 07:32] bonomat commented on #174
Closing this until it re-appears again :)

[2020-05-12 07:32] #174 closed

[2020-05-13 01:00] D4nte commented on #112
Considering that we are currently prioritizing the usage of cnd REST API directly in the app isntead of going through sdk to later improve the sdk, I'd suggest we close this issue.

[2020-05-13 01:15] #112 closed

[2020-05-27 00:10] #96 closed

[2020-05-28 03:45] da-kami opened #239 "SDK should represent the new `cnd` routes"
This is a follow up ticket for adding `hbit-herc20` / `herc20-hbit` swaps.

## Problem

The SDK currently still contains the `han` protocol model. We decided that the abstraction of `han` is not good.

When adding the cnd e2e tests for `hbit` we decided to first create this code in `api_tests` and move it to the SDK later, once it is more clear what is to do.

## Goal

Have a clean version of the

[2020-05-29 00:08] #21 closed

[2020-06-01 01:21] #233 closed

[2020-06-02 06:01] #239 closed

[2020-06-02 06:02] da-kami opened #244 "Release SDK and update in cnd e2e tests"

[2020-06-03 00:41] luckysori opened #248 "Release version 0.17.0"

[2020-06-03 08:57] luckysori opened #251 "Unhelpful bitcoind wallet errors"
## Problem

When a call to `bitcoind`'s RPC fails, it usually provides some explanation in the form of a message. Conversely, `BItcoindWallet`, which interfaces with `bitcoind`'s RPC, only returns a status code on failure.

## Goal

To make debugging easier.

[2020-06-05 01:21] #244 closed

[2020-06-05 01:21] da-kami commented on #244
done already

[2020-06-07 00:09] #228 closed

[2020-06-09 00:51] tcharding opened #253 "Rename halight to halbit"
## Problem

The name `halight` is gone now in favour of `halbit`. Long live `halbit`.

## Goal

Have no reference to 'halight' anywhere.

[2020-06-09 05:34] #113 closed

[2020-06-28 12:02] thomaseizinger commented on #219
No longer relevant.

[2020-06-28 12:02] #219 closed

[2020-07-04 05:44] luckysori commented on #248
0.17.0 was released a while back

[2020-07-04 05:44] #248 closed

[2020-07-04 05:46] luckysori commented on #251
I would like to see this resolved in the future. Removing `no-activity` label.

[2020-07-05 00:12] #155 closed

[2020-07-19 00:13] #253 closed

[2020-07-30 01:23] D4nte opened #257 "Release version 0.17.1"

[2020-08-11 00:14] #251 closed

[2020-09-06 00:17] #257 closed